@import 'variables';
html{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    &::-webkit-scrollbar{
        width: 8px;              
      }
      &::-webkit-scrollbar-thumb {
        background-color: $light-blue; 
        border-radius: 5px;
      }
    .header{
        position: relative;
        margin-top: 32px;
        background-color: white;
        height: 86px;
        display: flex;
        .logo-container{
            flex: 1;
            display: flex;
            align-items: flex-start;
            justify-content: left;
            img{
                margin-top: 5px;
                max-width: 196px;
                width: 100%;
            }
        }
        .menu-container{
            flex: 1;
            display: flex;
            margin-top: 16px;
            justify-content: center;
            @media(max-width: $lg){
                display: none;
            }
            ol{
               max-width: 361px;
               width: 100%;
               display: flex;
               justify-content: space-between;
               li{
                   cursor: pointer;
                   font-weight: 500;
                   font-size: 1em;
                   line-height: 1em;
                   color: $dark-blue;
               }
            }
        }
        .buttons-container{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            @media(max-width: $lg){
                display: none;
            }
            .buttons{
                max-width: 256px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .buttons-container_button{
                    cursor: pointer;
                    max-width: 119px;
                    width: 100%;
                    height: 48px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    background: none;
                    border: 2px solid $dark-blue;
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 18.75px;
                }
                .buttons-container_button--modifier{
                    border: none;
                    background-color: $dark-blue;
                    color: white;
                }
            }
        }
        span{
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #EFEEF3;
        }
        .mobile-menu{
            display: none;
            .burger{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                color: $dark-blue
            }
             @media(max-width: $lg){
                display: block;
             }
        }
    }
    .mobile-nav{
        height: 0;
        width: 100%;
        transform: translateY(-600px);
       ol{
           width: 100%;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: space-between;
           li{
               height: 25%;
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
               border-bottom: 1px solid #EFEEF3;
               cursor: pointer;
               font-weight: 500;
               font-size: 1em;
               line-height: 1em;
               color: $dark-blue;
           }
       }
       transition: .3s linear all;
    }
    .mobile-nav.slideOn{
       @media(max-width: $lg){
        display: block;
        transform: translateY(0px);
        height: 50vh;
        ol{
            height: 50vh;
        }
       }
    }
    .banner{
        margin-top: 54px;
        padding-bottom: 120px;
        position: relative;
        @media(max-width: $lg){
            padding-top: 5vh;
            padding-bottom: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media(max-width: $sm){
            padding-bottom: 5vh;
         }
        .banner_content{
            max-width: 477px;
            width: 100%;
            @media(max-width: $lg){
                text-align: center;
                margin: 0 auto;
             }
            h1{
                font-size: 3.5rem;
                line-height: 4.25rem;
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 600;
                @media(max-width: $xl){
                    font-size: 3.2rem;
                    line-height: 3.25rem;
                }
                @media(max-width: $lg){
                    font-size: 3rem;
                }
                @media(max-width: $md){
                    margin: 0 auto;
                    font-size: 2.5rem;
                    line-height: 3rem;
                    max-width: 75%;
                }
                @media(max-width: $sm){
                    font-size: 40px;
                    max-width: 90%;
                    line-height: 2.5rem;
                }
            }
            p{
                margin-top: 20px;
                font-size: 1.19rem;
                font-weight: 400;
                line-height: 2.25rem;    
                @media(max-width: $xl){
                    font-size: 1.1rem;
                    line-height: 2.75rem;
                }
                @media(max-width: $lg){
                    font-size: 1rem;
                    line-height: 2.25rem;
                }
                @media(max-width: $md){
                    margin: 0 auto;
                    margin-top: 25px;
                    font-size: 1.125rem;
                    line-height: 2rem;
                    max-width: 75%;
                }
                @media(max-width: $sm){
                    font-size: 1.125rem;
                }
            }
            .buttons-container{
                padding-top: 31px;
                max-width: 378px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                @media(max-width: $lg){
                    // padding-top: 5vh;
                    height: 13vh;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 auto;
                 }
                 @media(max-width: $md){
                    padding-top: 1vh;
                    height: 11vh;

                }
                @media(max-width: $sm){
                    padding-top: 2.1875rem;
                    height: 9.0625rem;

                }
                &_button{
                    cursor: pointer;
                    max-width: 178px;
                    width: 100%;
                    height: 48px;
                    border: none;
                    outline: none;
                    background-color: $light-blue;
                    color: white;
                    font-size: 1rem;
                    line-height: 1.171875rem;
                    border-radius: 8px;
                    @media(max-width: $lg){
                        max-width: 250px;
                        
                     }
                }
                &_button--modify{
                    background-color: #fff;
                    color: $light-blue;
                    border: 2px $light-blue solid;
                }
            }
        }
        .photo-container{
            display: flex;
            justify-content: flex-end;
            @media(max-width: $lg){
               margin-top: 5vh;
               justify-content: center;
               align-items: center;
            }
            .photo-container_photo{
                display: flex;
                position: relative;
                max-width: 576px;
                height: 416px;
                @media(max-width: $sm){
                    transform: scale(0.9);
                 }
                img{
                    width: 100%;
                }
                .arrow {
                    cursor: pointer;
                    display: block;
                    position: absolute;
                    height: 55px;
                    width: 55px;
                    border-radius: 5px;
                    background-color: $dark-blue;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 22px;
                        width: 100%;
                        height: 22px;
                    }
                }
                .left-arrow{
                    top: 50%;
                    left: 0;
                    transform: translate(-50%,-50%);
                }
                .right-arrow{
                    top: 50%;
                    right: 0;
                    transform: translate(50%,-50%);
                }
            }
        }
    }
    .service{
        @media(max-width: $md){
            display: flex;
            align-items: center;
            justify-content: center;
         }
        &_text{
            @media(max-width: $md){
                text-align: center;
                margin-bottom: 5vh;
                display: flex;
                flex-direction: column;
                align-items: center;
             }
             @media(max-width: $sm){
                margin-bottom: 2vh;
             }
            h2{
                font-size: 1rem;
                line-height: 1.3125rem;
                color: $blue;
            }
            h1{
                margin-top: 17px;
                font-size: 2.5rem;
                line-height: 3.25rem;
                font-weight: 600;
                font-family: 'Nunito Sans', sans-serif;
                color: $dark-blue;
                 @media(max-width: $md){
                    max-width: 400px;
                    width: 100%;
                }
            }
            p{
                margin-top: 6px;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.75rem;
                color: $dark-blue;
                line-height: 2.5rem;
                @media(max-width: $md){
                    max-width: 400px;
                    width: 100%;
                }
            }
        }
        &_squares{
            margin-top: 61px;
            display: flex;
            @media(max-width: $md){
                margin-top: 2vh
             }
            .box{
                max-width: 360px;
                width: 100%;
                height: 347px;
                border: 1px solid #E5EAF4;
                border-radius: 8px;
                position: relative;
                @media(max-width: $lg){
                    height: auto;
                    display: flex;
                    flex-direction: column;   
                    border-radius: 1rem; 
                 }
                .icon-rectangle{
                    width: 64px;
                    height: 64px;
                    border-radius: 16px;
                    border: 1px solid #E5EAF4;
                    position: absolute;
                    top: 41px;
                    left: 41px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  
                }
                h3{
                    margin-top: 133px;
                    margin-left: 41px;
                    max-width: 178px;
                    width: 100%;
                    height: 22px;
                    font-size: 1.5rem;
                    line-height: 1.33rem;
                    letter-spacing: 0.2;
                    @media(max-width: $lg){
                        font-size: 1.3rem;
                     }
                     @media(max-width: $md){
                        font-size: 1.5rem;
                     }
                }
                p{
                    max-width: 274px;
                    height: 84px;
                    margin-top: 14px;
                    margin-left: 41px;
                    font-size: 1rem;
                    line-height: 1.75rem;
                    font-weight: 400;
                    @media(max-width: $lg){
                        font-size: .8rem;
                        margin-right: 41px;
                        height: auto;
                     }
                     @media(max-width: $md){
                        font-size: 1rem;
                     }
                }
                 p:nth-of-type(2){
                     max-width: 96px;
                     width: 100%;
                     height: 19px;
                     font-size: 1rem;
                     font-weight: 400;
                     line-height: 1.171875rem;
                     margin-left: 41px;
                     margin-top: 29px;
                     font-weight: 400;
                     @media(max-width: $lg){
                        font-size: .8rem;
                        margin-top: 2vh;
                        margin-bottom: 2vh;
                     }
                     @media(max-width: $md){
                        font-size: 1rem;
                     }
                 }
            }
        }
        .square-1{
            justify-content: flex-start;
            @media(max-width: $md){
                justify-content: center;
              }
        }
        .square-2{
            justify-content: center;
        }
        .square-3{
            justify-content: flex-end;
            @media(max-width: $md){
                justify-content: center;
              }
        }
    }
    .features{
        @media(max-width: $md){
            display: flex;
            align-items: center;
            justify-content: center;
         }
        &_text{
            padding-top: 200px;
            @media(max-width: $lg){
              padding-top: 10vh;
             }
             @media(max-width: $md){
                text-align: center;
                margin-bottom: 0vh;
                padding-top: 5vh;
                display: flex;
                flex-direction: column;
                align-items: center;
             }
             @media(max-width: $sm){
                margin-bottom: 0vh;
             }
            h2{
                font-size: 1rem;
                line-height: 1.3125rem;
                color: $blue;
            }
            h1{
                margin-top: 17px;
                font-size: 2.5rem;
                line-height: 3.25rem;
                font-weight: 600;
                font-family: 'Nunito Sans', sans-serif;
                color: $dark-blue;
                @media(max-width: $md){
                    max-width: 400px;
                    width: 100%;
                }
            }
            p{
                margin-top: 6px;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.75rem;
                color: $dark-blue;
                @media(max-width: $md){
                    max-width: 400px;
                    width: 100%;
                }
            }
        }
        &_container{
            margin-top: 85px;
            display: flex;
            @media(max-width: $md){
                margin-top: 5vh;
             }
             @media(max-width: $sm){
                margin: 2vh;
             }
            .container_img{
                max-width: 553px;
                width: 100%;
                height: 483px;
                box-sizing: border-box;
                position: relative;
                display: flex;
                img{
                    width: 100%;
                }
                span{
                    position: absolute;
                    z-index: 1;
                    display: block;
                    margin-top: 323px;
                    margin-left: 48px;
                    color: white;
                    max-width: 449px;
                    height: 96px;
                    width: 100%;
                    font-size: 2.25rem;
                    line-height: 3rem;
                    letter-spacing: 0.2px;
                    @media(max-width: $xl){
                        max-width: 350px;
                        font-size: 2rem;
                     }
                     @media(max-width: $lg){
                        font-size: 2.2rem;
                     }
                     @media(max-width: $md){
                        font-size: 2.1rem;
                     }
                     @media(max-width: $sm){
                        font-size: 1.9rem;
                        margin-left: 0;
                     }
                }
            }
            .container_img--modify{
               span{
                max-width: 433px;
                width: 100%;
               }
            }
        }
        .container-1{
            justify-content: flex-start;
            @media(max-width: $lg){
               justify-content: center;
             }
        }
        .container-2{
            justify-content: flex-end;
            @media(max-width: $lg){
                justify-content: center;
              }
        }
    }
    .chose-plan{
       
        &_text{
            padding-top: 198px;
            @media(max-width: $lg){
                padding-top: 10vh;
              }
              @media(max-width: $md){
                padding-top: 5vh;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
              }
          
            h1{
                font-size: 2.5rem;
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 600;
                line-height: 3.25rem;
                letter-spacing: 0.2px;
                @media(max-width: $md){
                    max-width: 400px;
                    width: 100%;
                }
            }
            p{
                margin-top: 7px;
                font-size: 1.125rem;
                line-height: 1.75rem;
                font-weight: 400;
                @media(max-width: $md){
                    max-width: 400px;
                    width: 100%;
                }
            }
        }
        &_box{
            margin-top: 84px;
            display: flex;
            @media(max-width: $md){
                margin-top: 5vh;
              }
              @media(max-width: $sm){
                margin-top: 2vh;
              }
            
            .box{

                border-top: 3px solid $light-blue;
                max-width: 360px;
                width: 100%;
                min-height: 436px;
                display: flex;
                flex-direction: column;
                align-items: center;
                -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                @media(max-width: $lg){
                    border-radius: 1rem;
                  }
                h2{
                    text-align: center;
                    margin-top: 49px;
                    max-width: 200px;
                    width: 100%;
                    height: 32px;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    letter-spacing: 0.2px;
                    font-weight: 400;
                }
                h1{
                    margin-top: 30px;
                    height: 52px;
                    font-size: 2.5rem;
                    line-height: 3.25rem;
                    letter-spacing: 0.2px;
                    font-weight: 700;
                    color: $light-blue;
                }
                p{
                    margin-top: 9px;
                    width: 81px;
                    height: 24px;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: $blue;
                }
                p:nth-of-type(2){
                   margin-top: 36px;
                   text-align: center;
                   max-width: 287px;
                   width: 100%;
                   height: 56px;
                   line-height: 1.75rem;
                   font-size: 1rem;
                   font-weight: 400;
                }
                button{
                    cursor: pointer;
                    margin-top: 50px;
                    border-radius: 50px;
                    max-width: 171px;
                    width: 100%;
                    height: 48px;
                    font-size: 1rem;
                    line-height: 2.75rem;
                    font-weight: 400;
                    border: none;
                    outline: none;
                    background: transparent;
                    border: 2px $dark-blue solid;
                }
            }
        }
        &_box-1{
            justify-content: flex-start;
            @media(max-width: $md){
                justify-content: center;
              }
        }
        &_box-2{
            justify-content: center;
            .box-2{
                border-top: 3px solid $green;
                h1{
                    color: $green;
                }
            }
        }
        &_box-3{
            justify-content: flex-end;
            @media(max-width: $md){
                justify-content: center;
              }
            .box-3{
                border-top: 3px solid $red;
                h1{
                    color: $red;
                }
                button{
                    cursor: pointer;
                    border: none;
                    background-color: $dark-blue;
                    color: white;
                }
            }
        }
    }
    .ad{
        padding-top: 200px;
        padding-bottom: 200px;
        @media(max-width: $lg){
            padding-top: 10vh;
             padding-bottom: 10vh;
          }
          @media(max-width: $md){
            padding-top: 5vh;
            padding-bottom: 5vh;
          }
         
        .col-12{
        .ad-container{
            height: 380px;
            border-radius: 15px;
            background: url(/img/bgc.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            @media(max-width: $lg){
                height: 50vh;
                border-radius: 1rem;
              }
              @media(max-width: $sm){
                height: 75vh;
              }
            h1{
                margin-top: 7px;
                font-weight: 400;
                font-size: 2.5rem;
                line-height: 3.25rem;
                letter-spacing: 0.2px;
                @media(max-width: $lg){
                    font-size: 2rem;
                  }
                @media(max-width: $sm){
                    text-align: center;
                 }
            }
            p{
                margin-top: 19px;
                font-size: 1.125rem;
                line-height: 2rem;
                font-weight: 400;
                opacity: 0.6;
                @media(max-width: $lg){
                    font-size: 1rem;
                  }
                @media(max-width: $sm){
                    text-align: center;
                }
            }
            .buttons-container{
                margin-top: 48px;
                max-width: 390px;
                width: 100%;
                height: 48px;
                display: flex;
                justify-content: space-between;
                @media(max-width: $sm){
                    flex-direction: column;
                    align-items: center;
                    height: 7.1875rem;
                }
                &_button{
                    cursor: pointer;
                    max-width: 185px;
                    width: 100%;
                    height: 48px;
                    border-radius: 50px;
                    border: none;
                    background-color: white;
                    color: $dark-blue;
                    font-size: 1rem;
                    line-height: 1.171875rem;
                    font-weight: 400;
                }
                &_button--modify{
                    background-color: transparent;
                    border: 2px solid white;
                    color: white;
                }
            }
        }
        }
    }
    .footer{
        .bgc{
            width: 100%;
            height: auto;
            background-color: $dark-blue;
            @media(max-width: $lg){
                border-radius: 1rem;
                background-color: #4d60fb;
                -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
              }
            
            .footer-main-content{
                z-index: 1;
                background-color: $dark-blue;
                color: white;
                @media(max-width: $lg){
                    background-color: white;
                    color: black;
                  }
                @media(max-width: $sm){
                    border-radius: 1rem;
                    background-color: #ffffff;
                  }
                .section-1{
                    padding-right: 0;
                    display: flex;
                    justify-content: flex-start;
                    @media(max-width: $lg){
                        margin-top: 2vh;
                        padding: 0;
                        justify-content: center;
                      }
                    &_content{
                        margin-top: 89px;
                        @media(max-width: $lg){
                            margin-top: 0;
                            background-color: rgb(255, 255, 255);
                            max-width: 400px;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            border-radius: 1rem;
                            -webkit-box-shadow: 0px 10px 35px 0px rgba(5, 5, 5, 0.1);
                            -moz-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                            box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                          }
                        // height: 254px;
                        // border: 1px solid white;
                       .logo-container{
                           max-width: 197px;
                           height: 35px;
                        img{
                            width: 100%;
                        }
                       }
                        p{
                            margin-top: 28px;
                            font-size: 1rem;
                            line-height: 1.75rem;
                            font-weight: 400;
                            max-width: 285px;
                            width: 100%;
                            @media(max-width: $lg){
                                text-align: center;
                                justify-content: center;
                                // border: 1px solid red;
                                font-size: 1.2rem;
                              }
                        }
                        .socials{
                            margin-top: 58px;
                            max-width: 222px;
                            height: 38px;
                            display: flex;
                            justify-content: space-between;
                            @media(max-width: $lg){
                                max-width: 285px;
                                width: 100%;
                                margin: 0 auto;
                                margin-top: 2vh;
                                min-height: 50px;
                              }
                            &_container{
                                cursor: pointer;
                                width: 38px;
                                height: 38px;
                                background-color: #fff;
                                border-radius: 5px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @media(max-width: $lg){
                                    border: 1px solid $dark-blue;
                                  }
                            }
                        }
                    }
                }
                .section-2{
                    padding-left: 0;
                    padding-right: 0;
                    @media(max-width: $lg){
                        background-color: #fff;
                        margin: 0 auto;
                        max-width: 400px;
                        width: 100%;
                        margin-top: 2vh;
                        display: flex;
                        justify-content: center;
                        border-radius: 1rem;
                        -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                        -moz-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                        box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                      }
                    .lists{
                        margin-left: 16px;
                        margin-top: 89px;
                        max-width: 293px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @media(max-width: $lg){
                            margin: 0;
                            min-height: 275px;
                            align-items: flex-start;
                            justify-content: space-around;
                            max-width: 400px;
                          }
                        &_services,&_company{
                            height: 254px;
                            @media(max-width: $lg){     
                                height: auto;
                                max-width: 200px;
                                width: 100%;
                              }
                            text-align: left;
                            h2{
                                width: 100%;
                                line-height: 1.5rem;
                                letter-spacing: 2px;
                                   @media(max-width: $lg){
                                       margin: 0 auto;
                                     margin-top: 2vh;
                                  }
                            }
                            ol{
                                margin-top: 39px;
                                @media(max-width: $lg){
                                    text-align: center;
                                    margin-top: 0vh;     
                                    text-decoration: underline;
                                 }
                                li{
                                    cursor: pointer;
                                    margin-top: 20px;
                                    font-size: 0.938rem;
                                    line-height: 1.09875rem;
                                    font-weight: 400;
                                    height: 18px;
                                    @media(max-width: $lg){
                                        margin-top: 2vh;
                                        font-size: 1rem;    
                                     } 
                                }                
                            }
                        }
                        &_services{ 
                            max-width: 146px;
                            width: 100%;
                            @media(max-width: $lg){
                                max-width: 160px;
                            }
                            h2{
                                max-width: 91px;
                                font-size: 1.063rem;
                            }
                            ol{
                                li:nth-last-child(1){
                                    line-height: 1.171875rem;
                                    font-size: 1rem;
                                    height: 19px;
                                }    
                            }
                        }
                        &_company{
                            max-width: 98px;
                            width: 100%;
                            @media(max-width: $lg){
                                max-width: 160px;
                            }
                            h2{
                                max-width: 98px;
                                font-size: 1.125rem;
                            }
                            ol{
                                li:nth-of-type(2){
                                font-size: 0.875rem;
                                }    
                            }
                        }
                    } 
                }
                .section-3{
                    padding-left: 0;
                    @media(max-width: $lg){
                        margin: 0 auto;
                        max-width: 400px;
                        width: 100%;
                        margin-top: 2vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 1rem;
                        background-color: white;
                        -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                        -moz-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                        box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                      }
                    .contact{
                        margin-top: 89px;
                        margin-left: 27px;
                        max-width: 226px;
                        width: 100%;
                        @media(max-width: $lg){
                           max-width: 400px;
                           margin: 0 auto;
                           display: flex;
                           flex-direction: column;
                           align-items: center;
                          }        
                        h2{
                            width: 100%;
                            line-height: 24px;
                            font-size: 1.125rem;
                            letter-spacing: 2px;
                            @media(max-width: $lg){
                                font-size: 1.5rem;;
                                text-align: center;
                              }
                        }
                        p{
                            margin-top: 41px;
                            font-weight: 400;
                            font-size: 0.938rem;
                            line-height: 17.58px;
                            @media(max-width: $lg){
                                font-size: 1.2rem;;
                              }
                        }
                        p:nth-of-type(2){
                            margin-top: 21px;
                            font-size: 1.563rem;
                            line-height: 29.3px;
                            @media(max-width: $lg){
                                font-size: 1.7rem;;
                              }
                        }
                        .logos{
                            margin-top: 27px;
                            max-width: 226px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            @media(max-width: $lg){
                                align-items: center;
                                justify-content: center;
                              }
                            &_logo1{
                                max-width: 106px;
                                height: 41px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img{
                                    width: 100%;
                                }
                            }
                            &_logo2{
                                max-width: 100px;
                                width: 100%;
                                height: 24px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .stamp{
                    padding-top: 130px;
                    padding-bottom: 70px;
                    @media(max-width: $lg){
                       padding: 0;
                        padding-top: 2vh;
                        padding-bottom: 2vh;
                      }
                    p{
                        font-size: 1rem;
                        line-height: 1.75rem;
                        font-weight: 400;
                        text-align: center;
                    }
                }
             
            }
        }
       
    }
   
}
