html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .header {
  position: relative;
  margin-top: 32px;
  background-color: white;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

body .header .logo-container img {
  margin-top: 10px;
  max-width: 196px;
  width: 100%;
}

body .header .menu-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header .menu-container ol {
  max-width: 361px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .menu-container ol li {
  font-weight: 500;
  font-size: 1em;
  line-height: 1em;
  color: #16133D;
}

body .header .buttons-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .header .buttons-container .buttons {
  max-width: 256px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .buttons-container .buttons .buttons-container_button {
  max-width: 119px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: none;
  border: 2px solid #16133D;
  font-weight: 500;
  font-size: 1rem;
  line-height: 18.75px;
}

body .header .buttons-container .buttons .buttons-container_button--modifier {
  border: none;
  background-color: #16133D;
  color: white;
}

body .header span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #EFEEF3;
}

body .banner {
  padding-top: 54px;
  padding-bottom: 120px;
  position: relative;
}

body .banner .banner_content {
  max-width: 477px;
  width: 100%;
}

body .banner .banner_content h1 {
  font-size: 3.5rem;
  line-height: 68px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

body .banner .banner_content p {
  margin-top: 20px;
  font-size: 1.19rem;
  font-weight: 400;
  line-height: 36px;
}

body .banner .banner_content .buttons-container {
  margin-top: 31px;
  max-width: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .banner .banner_content .buttons-container_button {
  max-width: 178px;
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  background-color: #007FFC;
  color: white;
  font-size: 1rem;
  line-height: 18.75px;
  border-radius: 8px;
}

body .banner .banner_content .buttons-container_button--modify {
  background-color: #fff;
  color: #007FFC;
  border: 2px #007FFC solid;
}

body .banner .banner_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body .banner .banner_photo img {
  width: 100%;
}

body .banner .banner_photo .arrow {
  display: block;
  position: absolute;
  height: 55px;
  width: 55px;
  border-radius: 5px;
  background-color: #16133D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .banner .banner_photo .arrow img {
  max-width: 22px;
  width: 100%;
  height: 22px;
}

body .banner .banner_photo .left-arrow {
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .banner .banner_photo .right-arrow {
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

body .service_text h2 {
  font-size: 1rem;
  line-height: 21px;
  color: #7690A8;
}

body .service_text h1 {
  margin-top: 17px;
  font-size: 2.5rem;
  line-height: 52px;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  color: #16133D;
}

body .service_text p {
  margin-top: 6px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  color: #16133D;
}

body .service_squares {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .service_squares .box {
  max-width: 360px;
  width: 100%;
  height: 347px;
  border: 1px solid #E5EAF4;
  border-radius: 8px;
  position: relative;
}

body .service_squares .box .icon-rectangle {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  border: 1px solid #E5EAF4;
  position: absolute;
  top: 41px;
  left: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .service_squares .box h3 {
  margin-top: 133px;
  margin-left: 41px;
  max-width: 178px;
  width: 100%;
  height: 22px;
  font-size: 1.5rem;
  line-height: 21.28px;
  letter-spacing: 0.2;
}

body .service_squares .box p {
  max-width: 274px;
  height: 84px;
  margin-top: 14px;
  margin-left: 41px;
  font-size: 1rem;
  line-height: 28px;
  font-weight: 400;
}

body .service_squares .box p:nth-of-type(2) {
  max-width: 96px;
  width: 100%;
  height: 19px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 18.75px;
  margin-left: 41px;
  margin-top: 29px;
  font-weight: 400;
}

body .service .square-1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .service .square-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .service .square-3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .features_text {
  padding-top: 200px;
}

body .features_text h2 {
  font-size: 1rem;
  line-height: 21px;
  color: #7690A8;
}

body .features_text h1 {
  margin-top: 17px;
  font-size: 2.5rem;
  line-height: 52px;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  color: #16133D;
}

body .features_text p {
  margin-top: 6px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  color: #16133D;
}

body .features_container {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .features_container .container_img {
  max-width: 553px;
  max-height: 483px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .features_container .container_img img {
  width: 100%;
}

body .features_container .container_img span {
  position: absolute;
  z-index: 1;
  display: block;
  margin-top: 323px;
  margin-left: 48px;
  color: white;
  max-width: 449px;
  height: 96px;
  width: 100%;
  font-size: 2.25rem;
  line-height: 48px;
  letter-spacing: 0.2px;
}

body .features_container .container_img--modify span {
  max-width: 433px;
  width: 100%;
}

body .features .container-1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .features .container-2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .chose-plan_text {
  padding-top: 201px;
}

body .chose-plan_text h1 {
  font-size: 2.5rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0.2px;
}

body .chose-plan_text p {
  margin-top: 7px;
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: 400;
}

body .chose-plan_box {
  margin-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .chose-plan_box .box {
  border-top: 3px solid #007FFC;
  max-width: 360px;
  width: 100%;
  min-height: 436px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}

body .chose-plan_box .box h2 {
  margin-top: 50px;
  max-width: 137px;
  width: 100%;
  height: 32px;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0.2px;
  font-weight: 400;
}

body .chose-plan_box .box h1 {
  margin-top: 32px;
  height: 52px;
  font-size: 2.5rem;
  line-height: 52px;
  letter-spacing: 0.2px;
  font-weight: 700;
  color: #007FFC;
}

body .chose-plan_box .box p {
  margin-top: 5px;
  width: 81px;
  height: 24px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #7690A8;
}

body .chose-plan_box .box p:nth-of-type(2) {
  margin-top: 35px;
  text-align: center;
  max-width: 287px;
  width: 100%;
  height: 56px;
  line-height: 28px;
  font-size: 1rem;
  font-weight: 400;
}

body .chose-plan_box .box button {
  margin-top: 56px;
  border-radius: 50px;
  max-width: 171px;
  width: 100%;
  height: 48px;
  font-size: 1rem;
  line-height: 44px;
  font-weight: 400;
  border: none;
  outline: none;
  background: transparent;
  border: 2px #16133D solid;
}

body .chose-plan_box-1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .chose-plan_box-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .chose-plan_box-2 .box-2 {
  border-top: 3px solid #52C29D;
}

body .chose-plan_box-2 .box-2 h1 {
  color: #52C29D;
}

body .chose-plan_box-3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .chose-plan_box-3 .box-3 {
  border-top: 3px solid #F04D5D;
}

body .chose-plan_box-3 .box-3 h1 {
  color: #F04D5D;
}

body .chose-plan_box-3 .box-3 button {
  border: none;
  background-color: #16133D;
  color: white;
}

body .ad {
  padding-top: 200px;
  padding-bottom: 200px;
}

body .ad .col-12 {
  height: 380px;
  border-radius: 15px;
  background: url(/img/bgc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

body .ad .col-12 h1 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 52px;
  letter-spacing: 0.2px;
}

body .ad .col-12 p {
  margin-top: 19px;
  font-size: 1.125rem;
  line-height: 32px;
  font-weight: 400;
  opacity: 0.6;
}

body .ad .col-12 .buttons-container {
  margin-top: 48px;
  max-width: 390px;
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .ad .col-12 .buttons-container_button {
  max-width: 185px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: #16133D;
  font-size: 1rem;
  line-height: 18.75px;
  font-weight: 400;
}

body .ad .col-12 .buttons-container_button--modify {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
/*# sourceMappingURL=style.css.map */