@import 'variables';

html{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    .header{
        position: relative;
        margin-top: 32px;
        background-color: white;
        height: 86px;
        display: flex;
        .logo-container{
            flex: 1;
            display: flex;
            align-items: flex-start;
            justify-content: left;
            img{
                margin-top: 10px;
                max-width: 196px;
                width: 100%;
            }
        }
        .menu-container{
            flex: 1;
            display: flex;
            // align-items: center;
            margin-top: 16px;
            justify-content: center;
            ol{
               max-width: 361px;
               width: 100%;
               display: flex;
               justify-content: space-between;
               li{
                   font-weight: 500;
                   font-size: 1em;
                   line-height: 1em;
                   color: $dark-blue;
               }
            }
        }
        .buttons-container{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            .buttons{
                max-width: 256px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .buttons-container_button{
                    max-width: 119px;
                    width: 100%;
                    height: 48px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    background: none;
                    border: 2px solid $dark-blue;
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 18.75px;
                }
                .buttons-container_button--modifier{
                    border: none;
                    background-color: $dark-blue;
                    color: white;
                }
            }
        }
        span{
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #EFEEF3;
        }
    }
    .banner{
        padding-top: 54px;
        padding-bottom: 120px;
        position: relative;
        .banner_content{
            max-width: 477px;
            width: 100%;
            h1{
                font-size: 3.5rem;
                line-height: 68px;
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 600;
            }
            p{
                margin-top: 20px;
                font-size: 1.19rem;
                font-weight: 400;
                line-height: 36px;
            }
            .buttons-container{
                margin-top: 31px;
                max-width: 378px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                &_button{
                    max-width: 178px;
                    width: 100%;
                    height: 48px;
                    border: none;
                    outline: none;
                    background-color: $light-blue;
                    color: white;
                    font-size: 1rem;
                    line-height: 18.75px;
                    border-radius: 8px;
                }
                &_button--modify{
                    background-color: #fff;
                    color: $light-blue;
                    border: 2px $light-blue solid;
                }
            }
        }
        .banner_photo{
            display: flex;
            position: relative;
            img{
                width: 100%;
            }
            .arrow {
                display: block;
                position: absolute;
                height: 55px;
                width: 55px;
                border-radius: 5px;
                background-color: $dark-blue;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    max-width: 22px;
                    width: 100%;
                    height: 22px;
                }
            }
            .left-arrow{
                top: 50%;
                left: 0;
                transform: translate(-50%,-50%);
            }
            .right-arrow{
                top: 50%;
                right: 0;
                transform: translate(50%,-50%);
            }
        }
    }
    .service{
        &_text{
            h2{
                font-size: 1rem;
                line-height: 21px;
                color: $blue;
            }
            h1{
                margin-top: 17px;
                font-size: 2.5rem;
                line-height: 52px;
                font-weight: 600;
                font-family: 'Nunito Sans', sans-serif;
                color: $dark-blue;
            }
            p{
                margin-top: 6px;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 28px;
                color: $dark-blue;
            }
        }
        &_squares{
            margin-top: 61px;
            // background-color: rgb(6, 205, 255);
            display: flex;
            .box{
                max-width: 360px;
                width: 100%;
                height: 347px;
                border: 1px solid #E5EAF4;
                border-radius: 8px;
                position: relative;
                .icon-rectangle{
                    width: 64px;
                    height: 64px;
                    border-radius: 16px;
                    border: 1px solid #E5EAF4;
                    position: absolute;
                    top: 41px;
                    left: 41px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                h3{
                    margin-top: 133px;
                    margin-left: 41px;
                    max-width: 178px;
                    width: 100%;
                    height: 22px;
                    font-size: 1.5rem;
                    line-height: 21.28px;
                    letter-spacing: 0.2;
                }
                p{
                    max-width: 274px;
                    height: 84px;
                    margin-top: 14px;
                    margin-left: 41px;
                    font-size: 1rem;
                    line-height: 28px;
                    font-weight: 400;
                }
                 p:nth-of-type(2){
                     max-width: 96px;
                     width: 100%;
                     height: 19px;
                     font-size: 1rem;
                     font-weight: 400;
                     line-height: 18.75px;
                     margin-left: 41px;
                     margin-top: 29px;
                     font-weight: 400;
                 }
                
            }
        }
        .square-1{
            // background-color: orange;
            justify-content: flex-start;
        }
        .square-2{
            justify-content: center;
        }
        .square-3{
            justify-content: flex-end;
        }
    }
    .features{
        &_text{
            padding-top: 200px;
            h2{
                font-size: 1rem;
                line-height: 21px;
                color: $blue;
            }
            h1{
                margin-top: 17px;
                font-size: 2.5rem;
                line-height: 52px;
                font-weight: 600;
                font-family: 'Nunito Sans', sans-serif;
                color: $dark-blue;
            }
            p{
                margin-top: 6px;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 28px;
                color: $dark-blue;
            }
        }
        &_container{
            margin-top: 85px;
            display: flex;
            .container_img{
                max-width: 553px;
                max-height: 483px;
                width: 100%;
                position: relative;
                display: flex;
                img{
                    width: 100%;
                }
                span{
                    position: absolute;
                    z-index: 1;
                    display: block;
                    margin-top: 323px;
                    margin-left: 48px;
                    color: white;
                    max-width: 449px;
                    height: 96px;
                    width: 100%;
                    font-size: 2.25rem;
                    line-height: 48px;
                    letter-spacing: 0.2px;
                }
            }
            .container_img--modify{
               span{
                max-width: 433px;
                width: 100%;
               }
            }
        }
        .container-1{
            justify-content: flex-start;
        }
        .container-2{
            justify-content: flex-end;
        }
    }
    .chose-plan{
        &_text{
            padding-top: 201px;
            h1{
                font-size: 2.5rem;
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 600;
                line-height: 52px;
                letter-spacing: 0.2px;
            }
            p{
                margin-top: 7px;
                font-size: 1.125rem;
                line-height: 28px;
                font-weight: 400;
            }
        }
        &_box{
            margin-top: 84px;
            display: flex;
            .box{
                border-top: 3px solid $light-blue;
                max-width: 360px;
                width: 100%;
                min-height: 436px;
                display: flex;
                flex-direction: column;
                align-items: center;
                -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
                h2{
                    margin-top: 50px;
                    max-width: 137px;
                    width: 100%;
                    height: 32px;
                    font-size: 1.5rem;
                    line-height: 32px;
                    letter-spacing: 0.2px;
                    font-weight: 400;
                }
                h1{
                    margin-top: 32px;
                    height: 52px;
                    font-size: 2.5rem;
                    line-height: 52px;
                    letter-spacing: 0.2px;
                    font-weight: 700;
                    color: $light-blue;
                }
                p{
                    margin-top: 5px;
                    width: 81px;
                    height: 24px;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 24px;
                    color: $blue;
                }
                p:nth-of-type(2){
                   margin-top: 35px;
                   text-align: center;
                   max-width: 287px;
                   width: 100%;
                   height: 56px;
                   line-height: 28px;
                   font-size: 1rem;
                   font-weight: 400;
                }
                button{
                    margin-top: 56px;
                    border-radius: 50px;
                    max-width: 171px;
                    width: 100%;
                    height: 48px;
                    font-size: 1rem;
                    line-height: 44px;
                    font-weight: 400;
                    border: none;
                    outline: none;
                    background: transparent;
                    border: 2px $dark-blue solid;
                }
            }
        }
        &_box-1{
            justify-content: flex-start;
        }
        &_box-2{
            justify-content: center;
            .box-2{
                border-top: 3px solid $green;
                h1{
                    color: $green;
                }
            }
        }
        &_box-3{
            justify-content: flex-end;
            .box-3{
                border-top: 3px solid $red;
                h1{
                    color: $red;
                }
                button{
                    border: none;
                    background-color: $dark-blue;
                    color: white;
                }
            }
        }
    }
    .ad{
        padding-top: 200px;
        padding-bottom: 200px;
        .col-12{
            height: 380px;
            border-radius: 15px;
            background: url(/img/bgc.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            h1{
                font-weight: 400;
                font-size: 2.5rem;
                line-height: 52px;
                letter-spacing: 0.2px;
            }
            p{
                margin-top: 19px;
                font-size: 1.125rem;
                line-height: 32px;
                font-weight: 400;
                opacity: 0.6;
            }
            .buttons-container{
                margin-top: 48px;
                max-width: 390px;
                width: 100%;
                height: 48px;
                display: flex;
                justify-content: space-between;
                &_button{
                    max-width: 185px;
                    width: 100%;
                    height: 100%;
                    border-radius: 50px;
                    border: none;
                    background-color: white;
                    color: $dark-blue;
                    font-size: 1rem;
                    line-height: 18.75px;
                    font-weight: 400;
                }
                &_button--modify{
                    background-color: transparent;
                    border: 2px solid white;
                    color: white;
                }
            }
        }
    }
}
